<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Orders</title>
    <style>
      body {
        margin-left: 20px;
      }
    </style>
  </head>
  <body>
    <my-header hello="header"></my-header>
    <h3>Hey Chef!</h3>
    <h1 class="title">Here are the current orders:</h1>
    <ul id="order-list" class="columns is-multiline"></ul>
    <new-orders></new-orders>
    <script src="JS/orders.js"></script>
    <script src="JS/main.js"></script>
  </body>
</html>
